@import './base.scss';

* {
  margin: 0;
  padding: 0;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  // height: 100%;
  // background-color: $current-background-color;
  // color: $current-foreground-color;
  height: 100%;
  background-color: #CC3148;
  color: white;
}

a {
  text-decoration: none;
  color: $link-color;

}

.content {
  margin: 0 auto;
  margin-top: 0;
  max-width: 800px;
  
  h1, h2, h3, h4, h5, p, img {
    margin: 0;
    // color: $current-foreground-color;
  }
}