@import '../../styles/base.scss';

.nav {
  display: flex;
  width: 100%;
  justify-content: center;
  a + a {
    margin-left: 10px;
  }
  a {
    color: $current-foreground-color;
  }

  a:hover, a:active {
    color: black;
  }
  
  .active {
    color: black;
    text-decoration: underline;
  }
}