@import '../../styles/base.scss';

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  a + a {
    // margin-left: 10px;
  }
  a {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 75%;
    text-align: center;
    margin: 5px;
  }

  // a:hover, a:active {
  //   color: black;
  // }
  
  .active {
    text-decoration: underline;
    background-color: $link-color;
  }
}
