@import '../styles/base.scss';

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  width: min-content;
  h1 {
    margin: 0;
    font-size: 20vw;
    @media (min-width: 768px) {
      font-size: 10em;
    }
    color: $primary-foreground-color;
  }
}