.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.home_image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home_text {
  @media (min-width: 768px) {
    width: 75%;
  }
}